.login_wrap{
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background: #6658dd url(../images/login/bg-pattern.png) no-repeat center;
  background-size: cover;
}
.login {
  width: 360px;
  margin: 100px auto;

}
.login h1{
  text-align: center;
}
.login  .ant-tabs .ant-tabs-bar {
  margin-bottom: 24px;
  text-align: center;
  border-bottom: 0;
}

.login-form-forgot{
  float: right;
}